* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #8cb2e1
}

.title {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    position: fixed;
    background-color: #ffffff;
    padding: 1rem;
    align-self: flex-start;
    top: 1rem;
    border-radius: 0.5rem;
    width: 350px;
    max-width: 90%;
    text-align: center;
}

.playbutton {
    background-color: #18ac56;
    border: 4px solid #44ac56;
    outline: none;
    width: 80%;
    resize: none;
    margin: auto;
    align-self: center;
    padding: .5rem 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #ffffff;
}

.playbutton:hover {
    background-color: #029c56;
    border: 4px solid #18ac56;
    outline: none;
    width: 80%;
    resize: none;
    margin: auto;
    align-self: center;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    clear: left;
    text-align: center;
    color: #ffffff;
}

.modes {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    position: relative;
    clear: left;
    border-radius: 0.5rem;
    width: 350px;
    max-width: 90%;
    text-align: center;
}
.infotext {
    color: blue;
}
.infotext:visited {
    color: blue
}